{%extends "registration/base.html"%}
{% load bootstrap3 %}
{% block content %}
<div class="container">
    <div class="row">
        <!-- Empty div -->
        <div class="col-md-4"></div>
        <div class="col-md-4">
            {% if form.errors %}
            <p> Password or Username is incorrect </p>
            {% endif %}
            <div class="panel panel-default" style="height: 360px;width: 500px;box-shadow: 5px 15px 15px 15px gray;margin-top: 10px;margin-right: 100px;">

                <div class="panel-heading">
                    <h3 class="text-center">Login In</h3>
                </div>
                <div class="panel-body">

                    <form action="/accounts/login/" method="post">
                        {% csrf_token %}
                        {% bootstrap_form form%}

                        <a href="/accounts/register">Don't have an account? Register here! </a>

                        <div class="form-group">
                            <input type="submit" class="btn btn-info" value="Login" style="margin-left: 200px; font-weight: 900;margin-top: 20px;">
                        </div>

                        <input type="hidden" name="next" value="{{next}}">

                    </form>

                </div>

            </div>

        </div>
        <!-- empty div -->
        <div class="col-md-4"></div>
    </div>
</div>

{% endblock %}